.pagination{
    padding-top: 22px;
    padding-bottom: 22px;
}
.page-item.active .page-link {
border-color: #B35464;
background-color: #B35464;
}
.dropdown-item:active{
    background-color: #B35464;
}
.btn-table{
    width: 100%;
    color: #b35464;
}
.icon-battery-percent{
    float: right;
    margin-top: -13px;
    opacity: 0.8;
    font-size: 10px;
    cursor: pointer;
}

/* Navbar create coupon button */
.questionbutton{
    border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #B35464; background-image: -webkit-gradient(linear, left top, left bottom, from(#B35464), to(#B35464));
     background-image: -webkit-linear-gradient(top, #B35464, #B35464);
     background-image: -moz-linear-gradient(top, #B35464, #B35464);
     background-image: -ms-linear-gradient(top, #B35464, #B35464);
     background-image: -o-linear-gradient(top, #B35464, #B35464);
     background-image: linear-gradient(to bottom, #B35464, #B35464);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B35464, endColorstr=#B35464);
     height: 32px;
     width: 100px;
     line-height: 28px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 12px;
     text-align: center;
     cursor: pointer;
}
.trend{
    margin-top: 2em;
}
.topic li{
    display: flex;
    background: rgba(179, 84, 100, 1);
    padding: 5px 10px;
    color: #fff;
    margin: 6px 5px;
    cursor: pointer;
    float: left;
    background: #AD0504;
    border: 2px solid;

}
/*.topic  li:nth-child(odd){
    background:rgba(179, 84, 100, .9);
}
.topic  li:nth-child(even){
    background:rgba(179, 84, 100, .7);
}
*/
.topic li:hover{
    transform: scale(1.06);
    background: #fff;
    color: #AD0504;
}
.topic li a{
    text-decoration: none;
    color: inherit;
    letter-spacing: 1px;
    font-weight: bold;
}


#recentlyuploaded .card{
    height: 33rem;
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid #B4B6B8;
    border-radius: 10px 10px 0px 0px;

}

#recentlyuploaded .card-body .list-group-item .discounth5{
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-left: -10%;
}

#recentlyuploaded .card-body .list-group-item .newprice5{
    color: green;
    font-weight: bold;
    float: right;
    font-size: 14px;
    margin-right: -16px;
}


.card-title a{
    text-decoration: none;
}

/* customer click tab  */

#recentlyuploaded .cardbutton-page{
    border: 1px solid #B35464;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 15px;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    font-weight: bold;
    color: red;
    height: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: -2px;
    }
#recentlyuploaded .subscriberonly{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid red;
    color: red;
}
#recentlyuploaded .advertise{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    color: black;
    background-color: #EEE8AA;
    border: 1px solid #e6e600;
}

/* bottom of page home white randomly selected */
#customerclicks .card {
    height: 33rem;
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid #B4B6B8;
    border-radius: 10px 10px 0px 0px;
}

#customerclicks .card .card-body .list-group-item .discountR5{
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-left: -10%;
}

#customerclicks .card-body .list-group-item .newpriceR5{
    color: green;
    font-weight: bold;
    float: right;
    font-size: 14px;
    margin-right: -16px;
}
#customerclicks .subscriberonly{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid red;
    color: red;
}
#customerclicks .advertise{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    color: black;
    background-color: #EEE8AA;
    border: 1px solid #e6e600;
}

 a.cardbutton-pages{
    border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #B35464; background-image: -webkit-gradient(linear, left top, left bottom, from(#B35464), to(#B35464));
     background-image: -webkit-linear-gradient(top, #B35464, #B35464);
     background-image: -moz-linear-gradient(top, #B35464, #B35464);
     background-image: -ms-linear-gradient(top, #B35464, #B35464);
     background-image: -o-linear-gradient(top, #B35464, #B35464);
     background-image: linear-gradient(to bottom, #B35464, #B35464);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B35464, endColorstr=#B35464);
     height: 34px;
    width: 100%;
    line-height: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    left: 141px;
    text-align: center;
    margin-top: -1px;
    }



/* END  */
#randonlyselected{
    padding-top: 0%;
    padding-bottom: 3%;
    margin-top: 4%;

}

#randonlyselected .card {
    margin-top: 0%;
    height: 40rem;
    width:18rem;

}

#randonlyselected .card-body .list-group-item .discountR5{
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-left: -10%;
}

#randonlyselected .card-body .list-group-item .newpriceR5{
    color: green;
    font-weight: bold;
    float: right;
    font-size: 14px;
    margin-right: -16px;
}

#randonlyselected .cardbutton-page{
    border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #B35464; background-image: -webkit-gradient(linear, left top, left bottom, from(#B35464), to(#B35464));
     background-image: -webkit-linear-gradient(top, #B35464, #B35464);
     background-image: -moz-linear-gradient(top, #B35464, #B35464);
     background-image: -ms-linear-gradient(top, #B35464, #B35464);
     background-image: -o-linear-gradient(top, #B35464, #B35464);
     background-image: linear-gradient(to bottom, #B35464, #B35464);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B35464, endColorstr=#B35464);
     height: 34px;
    width: 100%;
    line-height: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    left: 141px;
    text-align: center;
    margin-top: -1px;
    }

/* All businesses Section */
#albusysection .card{
    height: 33rem;
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid #B4B6B8;
    border-radius: 10px 10px 0px 0px;

}
#albusysection .card-body .list-group-item .discounth5{
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-left: -10%;
}

#albusysection .card-body .list-group-item .newprice5{
    color:green;
    font-weight:bold;
    float: right;
    font-size: 14px;
    margin-right: -16px;
}
#albusysection .cardbutton-page{
    border: 1px solid #B35464;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    font-weight: bold;
    color: red;
    height: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: -2px;
    }
#albusysection .subscriberonly{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid red;
    color: red;
}
#albusysection .advertise{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    color: black;
    background-color: #EEE8AA;
    border: 1px solid #e6e600;
}


/* category businessess */
#catbusysection{
    display: grid;
    /* grid-template-columns: repeat(3, 1 fr); */
}

#catbusysection .card{
    height: 33rem;
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid #B4B6B8;
    border-radius: 10px 10px 0px 0px;
}

#catbusysection .card-body .list-group-item .discounth5{
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-left: -10%;
}

#catbusysection .card-body .list-group-item .newprice5{
    color:green;
    font-weight:bold;
    float: right;
    font-size: 14px;
    margin-right: -16px;
}
#catbusysection .cardbutton-page{
    border: 1px solid #B35464;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    font-weight: bold;
    color: red;
    height: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: -2px;
}
#catbusysection .subscriberonly{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid red;
    color: red;
}
#catbusysection .advertise{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    color: black;
    background-color: #EEE8AA;
    border: 1px solid #e6e600;
}
    /* Advertise in cat busy page */
#advert-section .card {
    height: 33rem;
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid #B4B6B8;
    border-radius: 10px 10px 0px 0px;
}

#advert-section .card-body .list-group-item .discounth5{
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-left: -10%;
}

#advert-section .card-body .list-group-item .newprice5{
    color:green;
    font-weight:bold;
    float: right;
    font-size: 14px;
    margin-right: -16px;
}
#advert-section .cardbutton-page{
    border: 1px solid #B35464;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    font-weight: bold;
    color: red;
    height: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: -2px;
}
#advert-section .subscriberonly{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid red;
    color: red;
}
#advert-section .advertise{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    color: black;
    background-color: #EEE8AA;
    border: 1px solid #e6e600;
}
/* subscription coupons Page */
#subscriptioncoupons .card {
    height: 33rem;
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid #B4B6B8;
    border-radius: 10px 10px 0px 0px;
}

#subscriptioncoupons .card-body .list-group-item .discounth5{
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-left: -10%;
}

#subscriptioncoupons .card-body .list-group-item .newprice5{
    color:green;
    font-weight:bold;
    float: right;
    font-size: 14px;
    margin-right: -16px;
}
#subscriptioncoupons .cardbutton-page{
    border: 1px solid #B35464;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    font-weight: bold;
    color: red;
    height: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: -2px;
}
#subscriptioncoupons .subscriberonly{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid red;
    color: red;
}
#subscriptioncoupons .advertise{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    color: black;
    background-color: #EEE8AA;
    border: 1px solid #e6e600;
}

/* User Account Page */
#accountsection .deleteaccount{
    float:right;
}

#accountsection .card{
    height: 35rem;
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid #B4B6B8;
    border-radius: 10px 10px 0px 0px;
}

#accountsection .card-body .list-group-item .discounth5{
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-left: -10%;
}
#accountsection .card-body .list-group-item .newprice5{
    color:green;
    font-weight:bold;
    float: right;
    font-size: 14px;
    margin-right: -16px;
}
#accountsection .btn-customdelete{
border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #B35464; background-image: -webkit-gradient(linear, left top, left bottom, from(#B35464), to(#B35464));
 background-image: -webkit-linear-gradient(top, #B35464, #B35464);
 background-image: -moz-linear-gradient(top, #B35464, #B35464);
 background-image: -ms-linear-gradient(top, #B35464, #B35464);
 background-image: -o-linear-gradient(top, #B35464, #B35464);
 background-image: linear-gradient(to bottom, #B35464, #B35464);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B35464, endColorstr=#B35464);
 height: 33px;
width: 139px;
line-height: 11px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
cursor: pointer;
border-radius: 10px;
margin-left: 4px;
}

#accountsection .btn-customdelete:hover{
 border:0px solid #b85a32;
 background-color: #CB2B40; background-image: -webkit-gradient(linear, left top, left bottom, from(#CB2B40), to(#93414f));
 background-image: -webkit-linear-gradient(top, #CB2B40, #93414f);
 background-image: -moz-linear-gradient(top, #CB2B40, #93414f);
 background-image: -ms-linear-gradient(top, #CB2B40, #93414f);
 background-image: -o-linear-gradient(top, #CB2B40, #93414f);
 background-image: linear-gradient(to bottom, #CB2B40, #93414f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CB2B40, endColorstr=#93414f);
}
#accountsection .btn-customdelete:focus{
    outline: none;
}
.stripe-button-el{
    border-radius: 10px !important;
}
.stripe-button-el:focus{
    outline: none;
}
#accountsection .btn-customrunning{
border:1px solid #8bcf54; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#588C58));
 background-image: -webkit-linear-gradient(top, #a9db80, #588C58);
 background-image: -moz-linear-gradient(top, #a9db80, #588C58);
 background-image: -ms-linear-gradient(top, #a9db80, #588C58);
 background-image: -o-linear-gradient(top, #a9db80, #588C58);
 background-image: linear-gradient(to bottom, #a9db80, #588C58);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#588C58);
 height: 33px;
 width: 140px;
 line-height: 11px;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 14px;
 margin-top:0%;
 border-radius: 10px;
}

#accountsection .btn-customrunning:hover{
 border:1px solid #74bf36;
 background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#446d44));
 background-image: -webkit-linear-gradient(top, #8ed058, #446d44);
 background-image: -moz-linear-gradient(top, #8ed058, #446d44);
 background-image: -ms-linear-gradient(top, #8ed058, #446d44);
 background-image: -o-linear-gradient(top, #8ed058, #446d44);
 background-image: linear-gradient(to bottom, #8ed058, #446d44);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#446d44);
}

#accountsection .cardbutton-page{
    border: 1px solid #B35464;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    font-weight: bold;
    color: red;
    height: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: -2px;
    }
#accountsection .subscriberonly{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid red;
    color: red;
}
#accountsection .advertise{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    /* border: 1px solid #ffff00;
    color: #ffff00; */
    color: black;
    background-color: #EEE8AA;
    border: 1px solid #e6e600;
}
/* setting page */
.referral-icon i{
    margin-left: -3%;
    position: absolute;
    padding: 9px 8px;
}
.referral-icon{
    position: relative;
}
.nav .nav-item .nav-link{
    color: #D95A4A;
}
.nav .nav-item .nav-link:hover{
    color: #white;
}



/* search area coupons */
#searchcoupon .card {
    height: 33rem;
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid #B4B6B8;
    border-radius: 10px 10px 0px 0px;
}

#searchcoupon .card-body .list-group-item .discountR5{
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-left: -10%;
}

#searchcoupon .card-body .list-group-item .newpriceR5{
    color: green;
    font-weight: bold;
    float: right;
    font-size: 14px;
    margin-right: -16px;
}


#searchcoupon .cardbutton-page{
    border: 1px solid #B35464;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 15px;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    font-weight: bold;
    color: red;
    height: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: -2px;
    }
#searchcoupon .subscriberonly{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid red;
    color: red;
}
#searchcoupon .advertise{
    font-weight: bold;
    font-size: 10px;
    opacity: 0.9;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    color: black;
    background-color: #EEE8AA;
    border: 1px solid #e6e600;
}
/* profile  */
/* vue filter products */
.filternew{
display: inline;
margin-left: 86%;
margin-top: -37px;
font-size: 25px;
color: red;
}

.filterold{
    display: inline;
    margin-left: 70%;
    margin-top: 64px;
    font-size: 25px;
    text-decoration: line-through;
}

 .viewdeal-filter{
    float: right;
    border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #B35464; background-image: -webkit-gradient(linear, left top, left bottom, from(#B35464), to(#B35464));
     background-image: -webkit-linear-gradient(top, #B35464, #B35464);
     background-image: -moz-linear-gradient(top, #B35464, #B35464);
     background-image: -ms-linear-gradient(top, #B35464, #B35464);
     background-image: -o-linear-gradient(top, #B35464, #B35464);
     background-image: linear-gradient(to bottom, #B35464, #B35464);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B35464, endColorstr=#B35464);
     height: 33px;
    width: 139px;
    line-height: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: center;
}
 .viewdeal-filter:hover{
  text-decoration:none;
}

/* select {
    border: 1px solid #777;
padding: 5px 240px 5px 240px;
border-radius: 3px;
color: #565656;
-webkit-appearance: none;
border-radius: 4px;
} */



.stripe-button-el span{
    width: 138px;

}

/* update profile on setting page  */

.img-updateprofile {
    height: 156px;
    width: 178px;
    position: relative;
    border-radius: 3px;
    margin-left: 0px;
    margin-top: 50px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

/*styling pagination  */

.pagination>li>a, .pagination>li>span {
    color: #B35464;
    size:20px;
}


.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #B35464;
    background-color: #e6e6e6;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #fff;
    background-color: #B35464;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #000; background-color: #fff; border-color: #000; cursor: not-allowed
}

/*mail help question  */
.help-button{
    border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #B35464; background-image: -webkit-gradient(linear, left top, left bottom, from(#B35464), to(#B35464));
     background-image: -webkit-linear-gradient(top, #B35464, #B35464);
     background-image: -moz-linear-gradient(top, #B35464, #B35464);
     background-image: -ms-linear-gradient(top, #B35464, #B35464);
     background-image: -o-linear-gradient(top, #B35464, #B35464);
     background-image: linear-gradient(to bottom, #B35464, #B35464);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B35464, endColorstr=#B35464);
     height: 32px;
     width: 130px;
     line-height: 0px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 15px;
     margin-left: -1%;
     margin-top: 2%;
     cursor: pointer;
}

.updatepass-button{
    border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #B35464; background-image: -webkit-gradient(linear, left top, left bottom, from(#B35464), to(#B35464));
     background-image: -webkit-linear-gradient(top, #B35464, #B35464);
     background-image: -moz-linear-gradient(top, #B35464, #B35464);
     background-image: -ms-linear-gradient(top, #B35464, #B35464);
     background-image: -o-linear-gradient(top, #B35464, #B35464);
     background-image: linear-gradient(to bottom, #B35464, #B35464);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B35464, endColorstr=#B35464);
     height: 32px;
     width: 148px;
     line-height: 0px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 15px;
     margin-left: 0%;
     margin-top: 2%;
     cursor: pointer;
}
/* validation on the help question errors */
.help-blockerror{
    color: red;
}

#password-box{
    margin-top: 5%;

}
#password-box li{
margin: 0 0 10px 0;
}

.checkhack {
  display: none;
}

#menu {
  display: none;
  background-color: #f9f9f9;
  width: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 top: 39px;
  left: 0;
  width: 45%;
  z-index: 1;
}

#menutoggle:checked + #menu {
  display: block;
}
.checklabel{
    position: relative;
    display: inline-block;
        padding: 10px;
       width:160px;
       cursor: pointer;
       background-color: white;
    width: 45%;
    border: 1px solid;
}

.loginandregister{
    border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #B35464; background-image: -webkit-gradient(linear, left top, left bottom, from(#B35464), to(#B35464));
     background-image: -webkit-linear-gradient(top, #B35464, #B35464);
     background-image: -moz-linear-gradient(top, #B35464, #B35464);
     background-image: -ms-linear-gradient(top, #B35464, #B35464);
     background-image: -o-linear-gradient(top, #B35464, #B35464);
     background-image: linear-gradient(to bottom, #B35464, #B35464);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B35464, endColorstr=#B35464);
     height: 32px;
     width: 130px;
     line-height: 0px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 15px;
     margin-left: -1%;
     margin-top: 2%;
     cursor: pointer;
}
.resetanpass{
    border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #B35464; background-image: -webkit-gradient(linear, left top, left bottom, from(#B35464), to(#B35464));
     background-image: -webkit-linear-gradient(top, #B35464, #B35464);
     background-image: -moz-linear-gradient(top, #B35464, #B35464);
     background-image: -ms-linear-gradient(top, #B35464, #B35464);
     background-image: -o-linear-gradient(top, #B35464, #B35464);
     background-image: linear-gradient(to bottom, #B35464, #B35464);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B35464, endColorstr=#B35464);
     height: 32px;
     line-height: 0px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 15px;
     margin-top: 2%;
     cursor: pointer;
}


/* FAQ box */
.question-title h3{
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    position: relative;
}

.question-title h3:after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.question-title.active h3:after{
    content: '-';
}

.content-main{
    background-color: #fff;
    display: none;
}
.content-inner{
    padding: 5%;
}
.content-inner p {
    font-size: 24px;
}
.content-main *{
    margin-top: 0;
    line-height: 1.5;
}
.question-title{
    border-bottom: 1px solid #fff;
}

.custsubbutton{
    border:1px solid #B35464; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 15px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #B35464;
     background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#B35464));
     background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
     background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
     background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
     background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
     background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FFFFFF);
     height: 34px;
     width: 130px;
     line-height: 0px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 15px;
     text-align: center;
     margin-left: -1%;
     margin-top: 2%;
     cursor: pointer;
}
.custsubbutton:hover{
    text-decoration: none;
    color: inherit;
}
.cancelledbutton{
    border:1px solid grey; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 15px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: grey;
     height: 34px;
     width: 130px;
     line-height: 0px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 15px;
     text-align: center;
     margin-left: -1%;
     margin-top: 2%;
     cursor: pointer;
}
.cancelledbutton:hover{
    color: grey;
    text-decoration: none;
}
.dataTables_length select{
    padding: 5px 5px 5px 5px;
}

#myTable_wrapper{
background-color: white;
padding: 1.5em;
box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
border-radius: 3px;
}

.media-select {
  min-height: 45px;
  border-width: 3px;
  border-color: rgba(50, 50, 50, 0.14);
  margin-top: 6%;
  margin-left: 3%;
  margin-top: 5%;
    border-radius: 10px;
    outline: none;
    width: 200px!important;
}
.subscriptioncouponstitle{
    margin-top: 13%;
}
.titleallcategory{
    margin-top: 13%;
}


.registercontainer{
    margin-top:8%;
    margin-bottom:8%
}

.logincontainer{
    margin-top:8%;
    margin-bottom:8%
}
.container-reset{
    margin-top: 15%;
    margin-bottom: 8%;
}
.input-email{
    height: 4rem;
    font-size: 16px;
    font-weight: 400;
    margin-left:52%;
}
.nocategoryproducts{
  margin:20px; 
  margin-top:260px;
}
.content-button{
    margin-bottom: 5px !important;
    display: flex;
    margin: auto;
}

@media (max-width: 991px) {
    .nocategoryproducts{
        font-size: 20px;
    }

    .input-email{
        height: 4rem;
        font-size: 16px;
        font-weight: 400;
        margin-left:56%;
    }

    .container-reset{
        margin-top: 15%;
        margin-bottom: 8%;
    }
    .searchonlinebusiness{
        font-size: 18px;
    }
    /* this affects the size of the profile look like the cards coupons */
    /* .card {
        height: 40rem !important;
        width: 18rem !important;
        margin-left: 3%;
    } */
    /* 991 card and margin */
 

    .mediah5 h5{
        font-size:10px;
        margin-top: 5%;
    }
    /* select all businesses page on business\all page */
     .media-select{
         min-width:85%;
         min-height: 45px;
         border-width: 3px;
         border-color: rgba(50, 50, 50, 0.14);
         margin-top: 6%;
         margin-left: 3%;
    }
    /* home page category select  index.blade.php*/
     .media-select-page{
        min-width:85% ;
        min-height: 45px;
        border-width: 3px;
        border-color: rgba(50, 50, 50, 0.14);
        margin-top: 6%;
        margin-left: 3%;
   }

/* all business page category title busienss/all */
   .subscriptioncouponstitle{
        font-size: 20px;
        margin-top: 24%;
        margin-left: 3%;
   }
   .titleallcategory {
       font-size: 20px;
       margin-top: 24%;
       margin-left: 3%;
   }
   .categorycount{
       margin-left: 3%;
   }

   .registercontainer{
       margin-top:38%;
       margin-bottom:20%
      }
      .logincontainer{
          margin-top:38%;
          margin-bottom:20%
      }
}

@media(max-width:768px){
    .logincontainer{
        margin-top:22%;
        margin-bottom:20%
    }

    .registercontainer{
        margin-top:22%;
        margin-bottom:20%
       }

       .container-reset{
           margin-top: 21%;
           margin-bottom: 8%;
       }
}

@media (max-width: 575px) {
    .searchonlinebusiness{
        margin-top: 20%;
        font-size: 18px;
    }

    #recentlyuploaded .card{
    margin-top: 17%;

}
    .searchonlinebusiness{
           margin-top: 27%;
       }
  
}

@media (max-width: 430px){
    .subscriptioncouponstitle{
        font-size: 20px;
        margin-top: 40%;
        margin-left: 3%;
    }
    .titleallcategory {
        font-size: 20px;
        margin-top: 40%;
        margin-left: 3%;
    }

    .logincontainer{
        margin-top:32%;
        margin-bottom:20%
    }

    

    .registercontainer{
        margin-top:32%;
        margin-bottom:20%
       }

       .container-reset{
           margin-top: 40%;
           margin-bottom: 8%;
       }
       .input-email{
           height: 4rem;
           font-size: 16px;
           font-weight: 400;
           margin-left:0%;
       }
       /* .searchonlinebusiness{
           margin-top: 30%;
       } */
   
}

@media (max-width: 320px) {
    .subscriptioncouponstitle{
        margin-top: 50%;
    }
    .logincontainer{
        margin-top:42%;
        margin-bottom:20%
    }

    .registercontainer{
        margin-top:42%;
        margin-bottom:20%
       }
       .input-email{
           height: 4rem;
           font-size: 16px;
           font-weight: 400;
           margin-left:0%;
       }
}
