.content{
    background-image: url(/top_img.jpg);
    background-size: 100% 240px;
    background-repeat: no-repeat;
    padding: 180px 10px 0px 10px;
}
.content .card {
        height: 284px;
        width: 538px;
        padding: 20px;
        position: relative;
        border-radius: 3px;
        background-color: white;
        overflow: hidden;
}
.content .profileinfo{
    margin-left: 2em;
    margin-top: 0.5em;
}
.compayavarta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.companyimage{
    width:115px;
    height: 115px;
    border: 1px solid #DEE0E1;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* .companyimage img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
} */
.profile-bottom{
    display: flex;
    color: #000;
}
.profile-bottom h6{
    margin-bottom: 0;
    color: #000;
}
.subscriberh6{
    margin-top: 4px;
}
.editaccount{
    float: right;
    margin-right: 20px;
    margin-top: 70px;
    font-weight: bold;
    color: #1DA1F2;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid #1DA1F2;
}
.editaccount:hover{
    text-decoration: none;
    color: #CA3F3F;
    border: 1px solid #CA3F3F;
}
.follow_button{
    float: right;
    margin-right: 20px;
    margin-top: 70px;
    font-weight: bold;
    color: #1DA1F2;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid #1DA1F2;
}
.follow_button:hover{
    text-decoration: none;
    color: #CA3F3F;
    border: 1px solid #CA3F3F;
}
.unfollow_button{
    float: right;
    margin-right: 20px;
    margin-top: 70px;
    font-weight: bold;
    color: #1DA1F2;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid #1DA1F2;
}
.unfollow_button:hover{
    text-decoration: none;
    color: #CA3F3F;
    border: 1px solid #CA3F3F;
}
.subscribe_button{
    width: 100%;
    display: inline-block;
    background-color: #B35464;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
a.subscribe_button:hover{
    background-color: white;
    text-decoration: none;
    color: #B35464;
    border: 1px solid #B35464;
}
.secondinfo{
    border: 1px solid #DEE0E1;
    padding: 20px;
    border-radius: 5px;
}

.websitebutton:after{
    content: "|";
    padding: 0 5px;
    color: #000;
}
.websitebutton{
    color:#000;
    font-weight: bold;
}
.websitebutton:hover{
    text-decoration: none;
    color: #CA3F3F;
}
@media(max-width: 414px){
    .companyimage{
        max-width: 85px;
        max-height: 85px;
        margin-top: 20px;
    }
    .content{
        margin-left: 0px;
    }
    .content .profileinfo{
        margin-left: 0.5em;
        margin-top: 1em;
    }
    .profilecompany{
        font-size: 1.3em;
    }
    .profilebio{
        margin-bottom: 0;
    }
    .editaccount{
        padding: 2px 5px;   
        margin-right: 0px;

    }
    .profile-bottom{
        display: block;
    }
    .websitebutton:after{
        content: "";
        padding: 0 5px;
        color: #000;
    }
}