.content{
    margin-top: 180px;
    margin-left: 20px;
}
.content .card {
        height: 284px;
        width: 538px;
        padding: 20px;
        position: relative;
        border-radius: 3px;
        background-color: white;
        overflow: hidden;
}
.content .profileinfo{
    margin-left: 2em;
    margin-top: 0.5em;
}
.content .profile-info .firstinfo{
    display: flex;
}
.companyimage{
    width:115px;
    /*max-width: 100%;*/
    margin: auto;
    height: 115px;
}
.profile-bottom{
    display: flex;
    color: #000;
}
.profile-bottom h6{
    margin-bottom: 0;
    color: #000;
}
.subscriberh6{
    margin-top: 4px;
}
.editaccount{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.editaccount:hover{
    text-decoration: none;
    color: #CA3F3F;
}
.editaccount:before{
    content: "|";
    padding: 0 10px;
}
.follow_button{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.follow_button:hover{
    text-decoration: none;
    color: #CA3F3F;
}
.follow_button:before{
    content: "|";
    padding: 0 10px;
}
.subscribe_button{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.subscribe_button:hover{
    text-decoration: none;
    color: #CA3F3F;
}
.subscribe_button:before{
    content: "|";
    padding: 0 10px;
}
.unsubscribe_button{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.unsubscribe_button:hover{
    text-decoration: none;
    color: #CA3F3F;
}
.unsubscribe_button:before{
    content: "|";
    padding: 0 10px;
}
.unfollow_button{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.unfollow_button:hover{
    text-decoration: none;
    color: #CA3F3F;
}
.unfollow_button:before{
    content: "|";
    padding: 0 10px;
}
.websitebutton:after{
    content: "|";
    padding: 0 10px;
}
.websitebutton{
    color:#000;
    font-weight: bold;
}
.websitebutton:hover{
    text-decoration: none;
    color: #CA3F3F;
}
@media(max-width: 414px){
    .companyimage{
        max-width: 70px;
        max-height: 70px;
        margin-top: 20px;
    }
    .content{
        margin-left: 0px;
    }
    .content .profileinfo{
        margin-left: 0.5em;
        margin-top: 0em;
    }
    .profilecompany{
        font-size: 1.3em;
    }
    .profilebio{
        margin-bottom: 0;
    }
    .profile-bottom{
        display: block;
    }
    .editaccount:before{
        content: "";
        padding: 0px;
    }
    .subscribe_button:before{
        content: "";
        padding: 0px;
    }
    .unsubscribe_button:before{
        content: "";
        padding: 0px;
    }
    .follow_button:before{
        content: "";
        padding: 0px;
    }
    .unfollow_button:before{
        content: "";
        padding: 0px;
    }
    .websitebutton:after{
        content: "";
        padding: 0px;
    }
}