.customerprofile{
    color: #b35464;
}
.profile-editing-section{
    margin-top: 100px;
}
.advertise-section-ad{
    margin-top: 100px;
}

.profile-edit{
    /* margin-top: 13%; */
    color: #b35464;
}
.nav-tabs{
    min-width: 380px;
    margin-top: 2em;
}
.tab-content section{
    margin-top: 3em;
    margin-bottom: 1em;
}
#subscriptionsetting{
    margin-top: 100px;
}
.earning-information{
    margin-top: 100px;
    padding-bottom: 50px;
}
.earnings-statistics{
 
    color: #b35464;
}
.search-container .search{
    margin-top: 10
}
.modal-dialog{
    max-width: 400px!important;
}
.panel-heading h5{
    margin-left: 15px;
}
#subscriptionsetting span{
    color: red;
}

.couponmycontainer{
    margin-top: 100px;
}

.titlesubscriptioncoupon{
    font-size: 20px;
    margin-left: 3px;
    color: #b35464;
}

.notfy-section{
    margin-top: 100px;
}

.dealsection{
    margin-top: 100px; 
}


@media(max-height:950px){
    .dealsection{
        padding-bottom: 100px;

    }
}

@media(max-height:830px){
    .profile-editing-section{
        padding-bottom: 100px;

    }
}

@media(max-height:830px){
    .click-tracer-section{
        padding-bottom: 100px;

    }

    .advertise-section-ad{
    padding-bottom: 100px;
}
}

@media (max-width: 991px){
    .profile-edit{
        /* margin-top: 30%; */
    }
    #subscriptionsetting{
        /* margin-top: 30%; */
    }
    
 
}

@media(max-width:768px){
    .search-container {
        margin-top: 10%;
    }
}


@media (max-width: 575px){
    .profile-edit{
        /* margin-top: 40%; */
    }
    #subscriptionsetting{
        /* margin-top: 40%; */
    }
    .customerprofile{
        /* margin-top: 40%; */
    }
  
    .search-container {
        margin-top: 21%;
    }

}

@media (max-width: 430px){
    .profile-edit{
        /* margin-top: 48%; */
    }
    #subscriptionsetting{
        /* margin-top: 48%; */
    }
  
 
}

@media (max-width: 360px){
    .nav-link{
        padding: 0.5rem!important;
    }
}

@media(max-width:320px){
    .nav-link{
        padding: 0.3rem!important;
    }
    .search-container {
        margin-top: 30%;
    }
}
