#merchantupdatesetting{
    padding-top:13%;
}
#customersettingpass{
    padding-top: 13%;
}
#subscriptionsetting{
    padding-top: 13%;
    padding-bottom:10%;
}
#merchantpassword{
    padding-top:6%;
}

#subscriptionstatstic{
    margin-top: 8em;
    margin-bottom: 10%;
}
#customerclickssection{
    padding-top:6%;

}

#merchantcouponsetting{
    padding-top:6%;

}
#merchantclicksetting{
    padding-top:6%;
    padding-bottom:10%;
}

.search-container .search{
    margin-top: 10
}
.modal-dialog{
    max-width: 400px!important;
}
.panel-heading h5{
    margin-left: 15px;
}
#subscriptionsetting span{
    color: red;
}
@media (max-width: 991px){
    #merchantupdatesetting{
        padding-top:20%;
    }
    #customersettingpass{
        padding-top: 20%;
    }
    #subscriptionsetting{
        padding-top: 25%;
    }
    #subscriptionstatstic{
        margin-top: 15em;
        margin-bottom: 10%;
    }
}

@media(max-width:768px){
    .search-container {
        margin-top: 10%;
    }
}


@media (max-width: 575px){
    #merchantupdatesetting{
        padding-top:48%;
    }
    #customersettingpass{
        padding-top: 48%;
    }
    .search-container {
        margin-top: 21%;
    }

}

@media (max-width: 430px){
    #merchantupdatesetting{
        padding-top:48%;
    }
    #customersettingpass{
        padding-top: 48%;
    }
    .search-container {
        margin-top: 30%;
    }
    #subscriptionsetting{
        padding-top: 35%;
    }
    #subscriptionstatstic{
        margin-top: 10em;
        margin-bottom: 10%;
    }
}

@media(max-width:320px){
    .search-container {
        margin-top: 30%;
    }
}
