.filter-selecttag{
    width: 100%;
    min-height: 45px;
    border-width: 3px;
    border-color: rgba(50, 50, 50, 0.14);
    margin-top: 6%;
    margin-left: 0;
}

.filter-productbox{
    margin-bottom: 5%;
    margin-top: 5%;
}

.filter-productbox .card {
    display: flex;
    width: 100%;
    height: 10rem;
    border-radius: 0;
    flex-direction: unset;
}
.filter-productbox .card .productbox-body{
    margin: 1em;
}
.filter-productbox .card .productbox-body>*{
    margin-bottom: 0.1rem;
}
.filter-productbox .card .avatar{
    margin: auto;
    max-width: 135px;
}
.filter-productbox .card .avatar .filter-image{
    margin: auto;
    max-width: 135px;
    height: 100px;
    width: 100%;
    bottom: 40px;
    border-radius: 10px;
}
.filter-productbox .card .view-button{
    margin: auto;
    max-width: 150px;
}
.filter-productbox .card .viewdeal{
    border: 1px solid #B35464;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    font-weight: bold;
    color: red;
    height: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
.product-pricing .currentpricing{
    text-decoration: line-through;
    font-size: 20px;
}
.product-pricing .newpricing{
    color: red;
    font-size: 20px;
}
.filter-selecttag li{
    list-style-type: none;
    float: left;
    padding: 5px;
}
@media(max-width:414px){
    .filter-productbox .card {
        display: block;
        height: auto;
        padding: 1em;
    }
}