.filter-selecttag{
    width: 100%;
    min-height: 45px;
    border-width: 3px;
    border-color: rgba(50, 50, 50, 0.14);
    margin-top: 6%;
    margin-left: 3%;
}

.filter-productbox{
    margin-bottom: 5%;
    margin-top: 5%;
}

.filter-productbox .card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15rem;
    margin-bottom: 5%;
}
.filter-productbox .card .productbox-body{
      margin-left: 33%;
    margin-top: 4%;

}

.filter-productbox .card .filter-image{
    left: 5%;
    position: absolute;
    width: 10rem;
    height: 7rem;
    bottom: 40px;
}

.product-pricing{
       display: inline;
       position: absolute;
       right: 50px;
       bottom: 79px;
}
.product-pricing .currentpricing{
    text-decoration: line-through;
    font-size: 20px;
    position: absolute;
     right: 105px;
}
.product-pricing .newpricing{
    color: red;
    font-size: 20px;
}
.coupon-setting-code{
    font-weight:bold;
     font-size:14px;
}

@media(max-width:430px){

.filter-productbox .card .filter-image{
    width: 6rem;
    height: 6rem;
}

.product-pricing .currentpricing{
    text-decoration: line-through;
    font-size: 12px;
    position: absolute;
    font-size: 12px;
    bottom: -72px;
    font-weight: bold;
}
.product-pricing .newpricing{
    position: absolute;
    color: red;
    right: 30px;
    bottom: -72px;
    font-weight: bold;
    font-size: 12px;
}

.coupon-setting-code{
    font-size: 9px;
    position: absolute;
    bottom: -8px;
    left: 3px;
}

.filter-productbox .card .productbox-body{
    position: absolute;
    bottom: 51px;
    left: 0px;

}
.coupon-vue-desc{
    font-size: 11px;
    padding-left: 13px;
}
.coupon-vue-title{
    font-size: 12px;
}
}

@media(max-width:430px){
.product-vue-header{
    font-size: 14px;
}
    .product-pricing .newpricing{
       right: -18px;
}

.product-pricing .currentpricing{
      right: 47px;
}
}